Software: Code::Blocks IDE Version 20.03.
Operating System: Windows.
Header Files Required:
● 	<stdio.h> (Standard input-output header) : Used to perform input and output operations in C.
● 	<conio.h> (Console input-output header) : Perform console input and console output operations like clrscr() to clear the screen and getch() to get the character from the keyboard.
● 	<stdlib.h> (Standard library header) : Perform standard utility functions.
● 	<windows.h>:It is a windows specific header file used in C programming which contains declarations for all the functions in windows API.
